:root{
    /* -------------AZULES---------------- */
     ------azulOscuro: #1851F0;
     ------azulmosc:#0A6FC9;
     ------azulMedio: #0F98F7;
     ------azulCeleste: #19D0E0;
     ------azulAguamarina: #0FF7BB;
     ------verdeAzul: #0AF063;
 /* ---------------MORADOS---------------- */
     ------MoradoPurorosa: #E541F0;
     ------Morado: #AC39F7;
     ------MoraAzul: #6A3EE0;
     ------azul: #3946F7 ;
     ------azulClaro: #327DF0 ;
 /* --------------VERDES------------------- */
     ------azulV:#41BFF0;
     ------azulC:#39F7EB;
     ------azulVV: #3EE09A;
     ------VerdeClaro:#39F75F;
     ------verdeOsc:#6AF048;
 
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif !important;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    height: 2000px;
    width: 1900px;
    background-color: #0A6FC9;
    position: relative;
}

/* .container-body{ 
    position: absolute;
    height: 70%;
    width: 60%;
    background: linear-gradient(#41BFF0,#E541F0 );
    margin: 10% 10%;
    border-radius: 20px;
    box-shadow: 2px 2px 20px black;
}

.container-body header{
    width: 100%;
}

.container-body h1{
    margin: 30px 30%;
    font-size: 100px;
    font-family: cursive;
    font-weight: bold;
}

.container-body h3{
    font-size: 50px;
    margin: 10px 50px;
    font-weight: bold;
}

.container-body p{
    font-size: 30px;
    margin: 20px 60px;
}

.container-body ul{
    margin: 0px 50px;
}

.container-body ul li{
    list-style: none;
}

.container-body ul li span{
    font-size: 30px;
    cursor: default;
}

.container-body ul li span a{
    text-decoration: none;
}

.container-body i{
    font-size: 30px;
    margin: 15px 20px;
}

.container-body iframe{
    display: flex;
    margin: 30px 30% 40px 30%;
    border-radius: 40px;
}

.container-body .facebook{
    color: blue;
}


.container-body .whatsapp{
    color: green;
}

.container-body .instagram{
    color: red;
}

.container-body .casa{
    color: black;
    font-size: 20px;
    margin: 20px 5px 20px 70px;
    transition: all .7s;
}

.container-body a:hover,.container-body .casa:hover{
    color: red;
    transition: all .7s;
}*/

