*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(255, 224, 224);
}


/* ---------------------------------------------------- ENCABEZADO ------------------------------------------------------------------------------ */

header{
    position: relative;
    height: 100px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.078),rgba(0, 0, 0, 0.74), black, black, black, black);
    opacity: .8;
    justify-content: center;
    align-items: center;
    transition: all .6s ease;
    
}

header:hover{
    opacity: 1;
    transition: all .6s ease;
}

header img{
    height: 80px;
    width: 80px;
    margin: auto 50px;
    position: relative;
    display: inline;
}

header h1{
    position: relative;
    display: inline;
    margin: auto 80px !important;
    top: -20px;
    font-size: 40px;
    color: #fff;
    
}

header input[type=search]{
    height: 40px !important;
    width: 330px;
    position: relative;
    margin: auto 10px !important;
    padding: 10px 30px;
    border-radius: 40px;
    top: -30px;
    border: none;
    outline: none;
}

header input:focus{
    outline: none;
    
}


/* ---------------------------------------------------- CARTAS ------------------------------------------------------------------------------ */



/* --------------------- APAGAR ------------------------- */

.apagar{
    display: flex;
}