*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    /* overflow: hidden; */
    background-color: rgb(255, 194, 153);
}

body .cabeza{
    background: linear-gradient(45deg, #ff6055, #ff945f);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabeza h1{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: auto;
}

.cabeza input{
    height: 60%;
    width: 400px;
    background: #ffffff  !important;
    padding: auto 30px !important;
    font-size: 15px;
    border-radius: 30px;
    display: inline-block;
    margin: auto;
}


.slider-lateral{
    position: absolute;
    height: 100vh;
    width: 70vh;
    background: #fc886b;
    top: 0px !important;
    left: 100% !important;
    transition: all 1.5s ease;
}

.slider-lateral h1{
    margin-top: 30px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}

#tabla{
    border: 3px solid rgb(95, 50, 50);
    color: rgb(95, 53, 53);
    background: rgb(255, 207, 207);
    width: 80%;

    margin: 20px auto;
}
#tabla th{
    border: 3px solid rgb(255, 174, 174);
    color: rgb(67, 23, 23);
    background: rgb(255, 174, 174);
}
#tabla td{
    border: 3px solid rgb(41, 40, 40);
    color: rgb(0, 0, 0);
}

#vaciar{
    margin: auto;
    border-radius: 15px;
    width: 100px;
    height: 20px;
    border: #000000;
    background-color: rgb(255, 255, 255)  ;
    color: #000000;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    

}
#comprar{
    margin: auto;
    border-radius: 15px;
    width: 100px;
    height: 20px;
    border: #000000;
    background-color: rgb(255, 255, 255)  ;
    color: #000000;
    justify-content: center;
    text-align: center;
    align-items: center;


}


#carrito{
    position: absolute;
    display: flex;
    width: 70px;
    height: 70px;
    background: #ffffff;
    font-size: 45px;
    color: rgb(0, 0, 0);
    padding: 10px 12px;
    border-radius: 20px 0 0 20px;
    right: 100%;
    margin: 8px 0;
    cursor: pointer;
    transition: all 1.5s ease;
}

.container-productos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    /* align-items: center; */
}

#cantidad{

    border-radius: 15px;
    padding: 5px;
    height: 20px;
    width: 50px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#añadir{
    margin: auto;
    border-radius: 15px;
    width: 100px;
    height: 20px;
    border: #000000;
    background-color: rgb(255, 142, 81)  ;
    color: #000000;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.carta{
    padding: 7px;
    position: relative;
    height: 400px;
    width: 250px;
    background: #ffffff;
    margin: 20px;
    border: none;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(179, 179, 179);
    display: block;
}

.carta .imagen{
    height: 20% !important;
    display: flex;
    position: relative;
    max-width: 150px;
    margin: 5px;
}

.carta hr{
    background: purple;
    border: 2px solid linear-gradient(90deg, red, blue);
}

input[type='text'],input[type='numer']{
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 5px;
    display: block;
}
.carta input[type="number"]{
    width: 40px;
}

input[type='submit']{
    display: block;
}



.apagar{
    transform: translateX(-70vh) !important;
    transition: all 1.5s ease;
}