*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', 'Sans serif';
    width: 100%;
    height: 100vh;
    /*background: #FFE5B4;  */ background: rgb(255, 211, 196);
    position: relative;
    overflow: hidden;
}

/* ---------------------------------------------------CONTENEDOR ROJO---------------------------------------------------- */

.container{
    position: relative;
    width: 60%;
    height: 75%;
    background: #b2443aad;
    margin: 6% auto;
    border-radius: 90px;
   
}

/* -------------------------------------------------CONTENEDORES AZULES------------------------------------------------------ */

.contenedor{
    position: relative;
    display: inline-block;
    height: 70%;
    width: 30%;
    margin: 50px 30px;
    /*background: #f6e9d1;*/ /*background: #f6e9d1;*/
    background:linear-gradient(45deg, #f6e9d1, rgb(247, 170, 170), #f6e9d1);
    border-radius: 50px;
    /* overflow: hidden; */
    z-index: 3;
}

/* -------------------------------------------------CONTENEDORES DE SLIDER------------------------------------------------------ */

.contenedor .tapa{
    width: 100%;
    height: 100%;
    position: absolute;
    background:  #f6e9d1 ;
    border-radius: 50px;
    transition: all 1.7s;
    z-index: 1;
}

.contenedor .slider{
    transform: translateY(-280px);
    transition: all 1.7s;
    z-index: 1;
}

i{
    position: relative;
    top: 40%;
    right: -30%;
    clear: both;
    font-size: 5rem;
}

/* ---------------------------------------------------CONTENEDOR AZUL USUARIO---------------------------------------------------- */

.container .container-usuario{
    position: absolute;
    left: 30px;
    margin: 50px 0px 0 40px;
    justify-content: center;
}

h3{
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------------CONTENEDOR AZUL ADMIN--------------------------------------------------- */

.container .container-admin{
    position: absolute;
    right: 30px;
    margin: 50px 30px 0 0;
}

/* -----------------------------------------------------CONTENEDOR TITULOS-------------------------------------------------- */

.container .container-usuario h3{
    color: rgb(0, 0, 0);
    margin: 45px 0px 20px 40px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container .container-admin h3{
    margin: 45px 0 0 60px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------------------CONTENEDORES DE ENTRADA--------------------------------------------------- */

.container input[type=text],[type=password]{
    display: block;
    margin: 2px 28px;
    padding: 10px 10px;
    left: 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 180px;
}

.container input[type=text]::placeholder,[type=password]::placeholder{
    color: rgb(0, 0, 0);
}

/* ----------------------------------------------------CONTENEDOR DE BOTONES--------------------------------------------------- */

.container input[type=submit]{
    margin: 20px calc(50% - 60px);
    height: 40px;
    width: 120px;
    border-radius: 40px;
    border: none;
    background: #fff;
    color: rgb(0, 0, 0); 
    transition: all .7s;
}

.container input[type=submit]:hover{
    transform: scale(1.1);
    background: rgb(36, 36, 36);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all .7s;
}

.container .container-usuario p, a{
    margin: auto 20px;
    display: block;
    font-size: 16px;
    color: rgb(0, 0, 0);
    /* text-decoration: none; */
}

.container .container-usuario a{
    transition: all .7s;
}

.container .container-usuario a:hover{
    color: grey;
    transform: scale(1.02);
    transition: all .7s;
}

/* burbujas */

.burbuja{
    border-radius: 120px 4% 120px 4%;
    background: rgb(0, 0, 0);
    opacity: .3;

    position: absolute;
    bottom: -250px;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 60px;
    height: 60px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 80px;
    height: 80px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
    
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}