*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(21, 21, 21);
}

/* ---------------------------------------------------CONTENEDOR ROJO---------------------------------------------------- */

.container{
    position: relative;
    width: 60%;
    height: 75%;
    background: rgb(255, 149, 149);
    margin: 6% auto;
    border-radius: 90px;
    box-shadow: 0 0 30px rgb(255, 149, 149);
}

/* -------------------------------------------------CONTENEDORES AZULES------------------------------------------------------ */

.contenedor{
    position: relative;
    display: inline-block;
    height: 70%;
    width: 30%;
    margin: 50px 30px;
    background: radial-gradient(rgb(255, 72, 72), rgba(255, 129, 129, 0.571));
    border-radius: 50px;
    /* overflow: hidden; */
}

/* -------------------------------------------------CONTENEDORES DE SLIDER------------------------------------------------------ */

.contenedor .tapa{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgb(255, 133, 133), rgb(255, 212, 212));
    border-radius: 50px;
    transition: all 1.7s;
}

.contenedor .slider{
    transform: translateY(-300px);
    transition: all 1.7s;
}

/* ---------------------------------------------------CONTENEDOR AZUL USUARIO---------------------------------------------------- */

.container .container-usuario{
    position: absolute;
    left: 30px;
    margin: 50px 0px 0 40px;
    
    justify-content: center;
}

/* ----------------------------------------------------CONTENEDOR AZUL ADMIN--------------------------------------------------- */

.container .container-admin{
    position: absolute;
    right: 30px;
    margin: 50px 30px 0 0;
}

/* -----------------------------------------------------CONTENEDOR TITULOS-------------------------------------------------- */

.container h3{
    color: #fff;
    margin: 40px 0px 20px 40px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ----------------------------------------------------CONTENEDORES DE ENTRADA--------------------------------------------------- */

.container input[type=text],[type=password]{
    display: block;
    margin: 5px 18px;
    padding: 10px 20px;
    left: 10px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.container input[type=text]::placeholder,[type=password]::placeholder{
    color: #fff;
}

/* ----------------------------------------------------CONTENEDOR DE BOTONES--------------------------------------------------- */

.container input[type=submit]{
    margin: 20px calc(50% - 60px);
    height: 40px;
    width: 120px;
    border-radius: 40px;
    border: none;
    background: #fff;
    color: rgb(0, 0, 0); 
    transition: all .7s;
}

.container input[type=submit]:hover{
    transform: scale(1.1);
    background: rgb(36, 36, 36);
    color: rgb(113, 113, 113);
    cursor: pointer;
    transition: all .7s;
}

.container .container-usuario p, a{
    margin: auto 40px;
    display: block;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.container .container-usuario a{
    transition: all .7s;
}

.container .container-usuario a:hover{
    color: grey;
    transform: scale(1.02);
    transition: all .7s;
}