*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    z-index: 1;
}

.contenedorModal{
    background-color: rgba(0, 0, 0, 0.6) !important;
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 8;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal{
    background-color: #fff;
    width: 600px;
    height: 100%;
    padding: 20px;
    font-size: 14px;
    overflow: auto;
}