*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-body{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    position: relative;
    background: rgb(255, 197, 197);
}




/* ------------------------------------------- VENTANA MODAL ------------------------------------------- */

.ventana-modal{
    background: rgba(0, 0, 0, 0.38);
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.ventana-modal .ventana{
    background: #fff;
    height: 40%;
    width: 35%;
    padding: 20px;
    display: block;
    margin: 28vh auto;
    border-radius: 30px;
}

.ventana h1{
    font-size: 50px;
    text-align: center;
    position: relative;
}
.ventana button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 70px;
    width: 140px;
    left: 50px;
    top: 40px;
    margin: auto 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* ----------------------------------------- CONTENEDOR DE CATEGORIAS ------------------------------------------------- */

.categorias{
    height: 180vh;
    display: block;
    background: rgb(255, 232, 232);
    box-shadow: 0px 0px 30px 4px rgb(255, 147, 147);
    z-index: 3;
    transition: all .6s ease;
}

.container-categoria{
    position: relative;
    width: 300px;
    max-height: 500px;
    margin: 100% auto !important;
    padding: auto 10px;
    
}

.container-categoria ul li{
    margin: 40px 0px;
    padding: 10px 30px;
    border-radius: 40px;
    list-style: none;
    color: #fff;
    transition: all .7s ease;
}

.container-categoria ul li a{
    text-decoration: none;
    color: rgb(114, 114, 114);
    font-size: 30px;
    transition: all.7s ease;
}
.container-categoria ul li a:hover{
    color: #fff;
    transition: all .7s ease;
}
.container-categoria ul li:hover{
    background: rgba(0, 0, 0, 0.527);
    color: #fff;
    cursor: pointer;
    transition: all .7s ease;
}

/* -------------------------- FORMULARIO ------------------------------- */

.formulario{
    background: rgb(255, 197, 197);
    height: 180vh !important;
    width: 100%;
    padding: auto;
    transition: all .6s ease;
}

.formulario .container-form{
    background: linear-gradient(45deg, rgb(252, 160, 160), rgb(255, 105, 105),rgb(252, 160, 160));
    height: 160vh !important;
    width: 100vh;
    display: flex;
    margin: 10vh auto;
    border-radius: 20px;
    padding: 30px;
}

.formulario .container-form h1{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

.formulario .container-form input{
    height: 65px;
    margin: 5px 40px;
    justify-content: center;
    align-items: center;
    
}

.container-form input[type=text],.container-form input[type=tel],.container-form input[type=email]{
    background: transparent;
    width: 70%;
    margin: 10px 120px;
    padding: 0 60px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    border-bottom: 1px solid #fff;
    color: #fff;
    transition: all .7s ease;
}

.container-form input[type=text]:hover{
    background: rgb(255, 145, 145);
    transition: all .7s ease;
}

.container-form input[type=text]:focus{
    background: none;
    
    outline: none;
}

.container-form input[type=submit]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-radius: 40px;
    margin-left: 180px;
    border: none;
    transition: all .3s ease;
}

.container-form select{
    background: rgb(255, 194, 194);
    margin: 30px 160px;
    font-size: 20px;
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 30px;
    padding: auto 30px !important;
}

.container-form select:hover{
    border-radius: 30px;
}

.container-form select option{
    background: rgb(255, 201, 201);
}


.container-form option:hover{
    background: red;
    color: #fff;
}

.container-form input[type=submit]:hover{
    transform: scale(1.1);
    background: rgb(188, 188, 188);
    cursor: pointer;
    transition: all .3s ease;
}

.container-body .container-form #btn{
    width: 200px;
    height: 50px;
    background: violet;
    border: none;
    border-radius: 35px;
    font-size: 20px;
    margin: 30px auto !important;
}

/* ----------------------------- CONTENEDOR DE PEDIDOS ------------------------------ */

.container-body .container-pedido{
    position: relative;
    padding: 10% 10%;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    display: block;
    justify-content: center;
    display: none;
    transition: all .6s ease;
}

.container-pedido h1{
    display: block;
    color: #fff;
}

.container-pedido table{
    display: block;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    border: 2px solid #fff;
    margin: auto;
    width: 100%;
    height: 30px;
}

/* ----------------------------------------------------- CONTENEDOR DE FAVORITOS ------------------------------------------------------------ */

.container-body .container-favorito{
    background: green;
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    transition: all .6s ease;
}



/* -------------------------- FUNCION DESAPARECER ------------------------------- */

.apagar{
    display: none !important;
    transition: all .6s ease;
}

.encender{
    display: flex !important;
    transition: all .6s ease;
}

.apagar1{
    position: absolute !important;
    display: none !important;
    transition: all .6s ease;
}

.red{
    background: red;
}
.green{
    background: greenyellow;
}