:root{

    ---color:rgb(255, 182, 157);
    ---color:rgba(227, 98, 62, 0.401);
    ---color:#f3b33e;
    ---color:rgb(243, 144, 144);
    ---color:#f6e9d1;
}


*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: sans-serif;

}
body
{
    margin:0;
	padding:0;
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;
    background:rgb(255, 182, 157);
}
.pagprincipal
{
    width: 380px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    padding: 2px;
    overflow: hidden;   
	text-align:center;
}
h1
{
	font-size:40px;
}

.cajafuera
{
	background:rgb(255, 182, 157);
    width: 100vw;
    height: 100vh;
    display: grid;
}
.formulariocaja
{
    width: 400px;
    height: 530px;
    margin-top: 10px;
    position: relative;
    margin: auto;
    background: rgba(227, 98, 62, 0.401);
    padding: 5px;
    overflow: hidden;  
	border: 2px solid rgba(227, 98, 62, 0.401);
	background:linear-gradient(45deg, #f3b33e, rgb(243, 144, 144), #f6e9d1);;
    border-radius: 15px;
}
.botondeintercambiar{
    width: 240px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 6px 0.5px rgba(227, 98, 62, 0.401);
    border-radius: 30px;
}
.botoncambiarcaja{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
	font-weight: bold;
	font-size:16px;
}
#btnvai{
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
	background-color: rgba(227, 98, 62, 0.649);
    border-radius: 30px;
	transition: .5s;
	
}
.logovai
{
    text-align: center;
}
.logovai img
{
    width: 120px;
}
.grupo-entradas{
    position: absolute;
    width: 280px;
    transition: .5s;
}
.cajaentradatexto{
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0 10px 0;
	font-size:16px;
	border-radius:5px;
	border:1px solid rgba(227, 98, 62, 0.649);
	
}
.botonenviar{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 10px;
	border:1px solid rgba(224, 220, 220, 0.273);
	font-size:16px;
	color:rgb(255, 255, 255);
	background-color: rgba(227, 98, 62, 0.649);
	
	
}
.checkboxvai{
    margin: 5px 5px 10px 0;
	text-align:right;
	font-size:12px;
}

#frmlogin{
    left: 50px;
}
#frmregistrar{
    left: 450px;
}

.caja_popup 
{
	display: none;
    position: absolute;
	padding:0;
	background-color:rgb(255, 170, 170);
	width:100%;
	height:100%;
}
.contenedor_popup 
{
	border-radius: 5px;
	top: 10%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:400px;
	border-radius: 5px;
	transition: all 0.2s;
}
a
{
	text-decoration-line: underline;
	cursor:pointer;
}

table
{
	text-align:center;
    width: 98%;
    border-collapse: collapse;
    border: 3px solid rgb(255, 255, 255);
	margin:50px auto;
    background: rgb(255, 255, 255);
	
	
}
th 
{
    background: rgb(0, 0, 0);
    height: 40px;
    font-weight: lighter;
    text-shadow: 0 1px 0 #38678f;
    color: white;
    border: 1px solid #38678f;
    box-shadow: inset 0px 1px 2px #568ebd;
    transition: all 0.2s;
	font-size: 18px;

}
tr 
{
    border-bottom: 1px solid #ffafaf;
	width:100%;
}
td 
{
    border: 1px solid #ffffff;
    padding: 10px;
    transition: all 0.2s;
	font-size: 14px;
}
.txtrecuperar
{
	font-size: 14px;
	text-align:center;
	width: 100px;
	display: inline-block;
	background-color: #ff9a9a;
	padding: 6px 10px;
	border-radius:5px;

	color:rgb(0, 0, 0);
	border:1px solid rgb(255, 255, 255);
	cursor:pointer;
}
/* burbujas */

.burbuja{
    border-radius: 120px 4% 120px 4%;
    background: rgba(47, 47, 47, 0.898);
    opacity: .3;

    position: absolute;
    bottom: -250px;

    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 60px;
    height: 60px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 80px;
    height: 80px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;

}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}