*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-body{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    position: relative;
}

.ventana-modal{
    background: rgba(0, 0, 0, 0.38);
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.ventana-modal .ventana{
    background: #fff;
    height: 40%;
    width: 35%;
    padding: 20px;
    display: block;
    margin: 28vh auto;
    border-radius: 30px;
}

.ventana h1{
    font-size: 50px;
    text-align: center;
    position: relative;
}
.ventana button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 70px;
    width: 140px;
    left: 50px;
    top: 40px;
    margin: auto 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.categorias{
    height: 100vh;
    display: block;
    background: rgb(233, 233, 233);
    border-right: 2px solid violet;
}

.container-categoria{
    width: 200px;
    max-height: 500px;
    margin: 250px auto;
}

.container-categoria ul li{
    margin: 40px 0px;
    padding: 10px 30px;
    border-radius: 40px;
    list-style: none;
    color: #fff;
    transition: all .7s ease;
}

.container-categoria ul li a{
    text-decoration: none;
    color: rgb(114, 114, 114);
    transition: all.7s ease;
}
.container-categoria ul li a:hover{
    color: #fff;
    transition: all .7s ease;
}
.container-categoria ul li:hover{
    background: blue;
    cursor: pointer;
    transition: all .7s ease;
}

/* -------------------------- FORMULARIO ------------------------------- */

.formulario{
    background: red;
    height: 100vh;
    width: 120vh;
}

.formulario .container-form{
    background: blue;
    height: 80vh;
    width: 100vh;
    display: flex;
    margin: 10vh auto;
}

.formulario .container-form h1{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

.formulario .container-form input{
    height: 65px;
    margin: 5px 40px;
    justify-content: center;
    align-items: center;
    
}

.container-form input[type=text],.container-form input[type=tel],.container-form input[type=email]{
    background: transparent;
    width: 80%;
    margin: 5px 70px;
    padding: 0 10%;
    border: none;
    border-radius: 20px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.container-form input[type=submit]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-radius: 40px;
    margin-left: 180px;
    border: none;
    transition: all .3s ease;
}

.container-form input[type=submit]:hover{
    transform: scale(1.1);
    background: rgb(188, 188, 188);
    cursor: pointer;
    transition: all .3s ease;
}

/* -------------------------- FUNCION DESAPARECER ------------------------------- */

.apagar{
    display: none !important;
}

.apagar1{
    position: absolute !important;
    display: none !important;
}

.red{
    background: red;
}
.green{
    background: greenyellow;
}