* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #424242;
    font-family: 'Times New Roman', Times, serif;
}
/*------------------------HEAD-----------------------------------------*/
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#ff7373, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(50deg, #ffd8b4, #ffd7d7, #ffe1c4);
    border-radius: 0 0 20px 20px;
}

/*---------------------------------------------------------------*/

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;

}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #ff6b31;
    background-color: #ffc079;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
   
}
.fa-regular{
    color: #e13535 ;
    font-size: 50px;
}
.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: rgb(255, 111, 92);
    box-shadow: 0 0 12px rgb(0, 0, 0);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #000000;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 1.5rem 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    text-decoration: none;
}

.seccion-perfil-usuario .perfil-usuario-footer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 50px;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;

}

a {
    height: 100px;
    width: 300px;
    display: flex;
    /* position: relative; */
    /* text-align: center;
    align-items: center; */
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 30px;
    margin: 30px;
    padding: auto;
    background-color:#ffa2a2;
    color: #000000;
    text-decoration: none;
    transition: all .6s ease;
}

a i{
    display: inline-block;
    margin: 0 15px 0 0;
    font-size: 26px;
}
a:hover{
    transform: scale(1.2);
    transition: all .6s ease;
}
.perfil-usuario-footer .user:hover{
    color: rgb(255, 255, 255);
    transition: all .6s ease;
}
.perfil-usuario-footer .bolso:hover{
    color: rgb(255, 116, 116);
    transition: all .6s ease;
}
.perfil-usuario-footer .favorite:hover{
    color: rgb(255, 58, 58);
    transition: all .6s ease;
}
.perfil-usuario-footer .cerrar:hover{
    color: rgb(112, 112, 112);
    transition: all .6s ease;
}


.seccion-perfil-usuario .lista-datos  {
    padding: 5px;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    /* top: 10rem; */
    right: -10rem;
    top: 0;
    display: flex;
    /* background: red; */
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    position: relative;
    border: 0;
    background-color: #fff;
    text-decoration: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #fff;
    /* box-shadow: 0 0 12px rgba(0, 0, 0, .2); */
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;

}

.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

.seccion-perfil-usuario .redes-sociales .boton-redes:hover{
    transform: rotateY(360deg);
    transition: all .9s ease;
}

/* adactacion a dispositivos */
@media (max-width: 750px) {

    .body{
        overflow-x: hidden;
        height: 1200px;
    }
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .perfil-usuario-footer{ 
        height: 30rem;
        display: block !important;
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes .boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
    .redes-sociales{
        display: none;
    }
}
/* @media (max-width: 668px) {
    *{
        background: red;
    }
} */
